<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue</title>
</head>
<body>
	<div id="app">{{message}}</div>

	<div id="app-2">
		<span v-bind:title="message">
			鼠标悬停会出现一个提示title
		</span>
	</div>

	<div id="app-3">
		<p v-if="seen">现在你看到我了，整个标签的show和hide嘛</p>
		<p>那么我觉得我会被挤下去(果然如此)</p>
	</div>

	<div id="app-4">
		<ol>
			<li v-for="todo in todos">{{ todo.text }}</li>
		</ol>
	</div>

	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">逆转消息</button>
	</div>

	<div id="app-6">
		<p>{{ message }}</p>
		<input type="text" v-model="message">
	</div>

	<!-- 组件模板 -->
	<div id="app-7">
		<ol>
			<todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
		</ol>
	</div>



	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="./js/vuestudy.js"></script>
</body>
</html>